.title {
    font-size: 30px;
}

.logo {
    margin: 24px 16px 0;
}

.highlight {
    color: #f50;
}

.ant-form-explain {
    padding-left: 70px;
}

.ant-modal {
    top: 50px;
}

#spanCount {
    float: left;
}

.ant-form-item-required {
    padding-right: 10px;
}

/* tile uploaded pictures */
.upload-list-inline .ant-upload-list-item {
    float: left;
    width: 200px;
    margin-right: 8px;
}
.upload-list-inline .ant-upload-animate-enter {
    animation-name: uploadAnimateInlineIn;
}
.upload-list-inline .ant-upload-animate-leave {
    animation-name: uploadAnimateInlineOut;
}

/* 输入框 */
.ant-row.ant-form-item {
    margin-bottom: 10px;
}

.tab{
    height:45px;
    margin-bottom: 0px;
}

.tab li{
    color: white;
    background-color: #89a5ba;
    border-radius: 8px 8px 0px 0px;
    cursor:pointer;
    line-height:30px;
    margin:15px 3px;
    display:inline-block;
    width:80px;
    text-align:center;
}

.tab li.on{
    color: black;
    background-color: white;
}

.ant-divider.ant-divider-vertical {
    margin: 0 8px;
    display: inline-block;
    height: 1.4em;
    width: 3px;
    vertical-align: middle;
    position: relative;
    top: -0.3em;
}

.head {
    background: #7688a4;
}

.content {
    padding: 20px 30px 0 30px;
    background: #fff;
}

.ant-tabs-bar {
    margin-bottom: 0px;
}