.title {
    font-size: 30px;
}

.logo {
    margin: 24px 16px 0;
}

.highlight {
    color: #f50;
}

.ant-form-explain {
    padding-left: 70px;
}

.ant-modal {
    top: 50px;
}

#spanCount {
    float: left;
}

.ant-form-item-required {
    padding-right: 10px;
}

/* tile uploaded pictures */
.upload-list-inline .ant-upload-list-item {
    float: left;
    width: 200px;
    margin-right: 8px;
}
.upload-list-inline .ant-upload-animate-enter {
    animation-name: uploadAnimateInlineIn;
}
.upload-list-inline .ant-upload-animate-leave {
    animation-name: uploadAnimateInlineOut;
}

/* 输入框 */
.ant-row.ant-form-item {
    margin-bottom: 10px;
}

.tab{
    /*list-style:none;*/
    /*display:block;*/
    height:28px;
    /*line-height:30px;*/
    border-bottom:1px black solid;
}/* 定义tabs 的子后代ul, list-style意思是去掉列表默认的小圆点，后面是定义上边边框为2px 马鞍棕色 实心的线*/
.tab li{
    /*border-radius: 5px;*/
    cursor:pointer;
    /*list-style:none;*/
    height:28px;
    line-height:28px;
    margin:0px 4px;
    border-left:1px solid black;
    border-top:1px solid black;
    border-right:1px solid black;
    display:inline-block;
    width:65px;
    text-align:center;
}/*cursor:pointer意思就是鼠标放上去变成小手的形状，高度和行高的值一样的话就垂直居中了，设置下边框为空 */
.tab li.on{
    border-bottom:3px solid #fff;
}/*说白了这个就是设置第一个选择框的样式，不过选择器也是有优先级的，加入都为同一个元素设置颜色就会显示id的 然后是.xx  其次是便签选择器*/

.ant-divider.ant-divider-vertical {
    margin: 0 8px;
    display: inline-block;
    height: 1.4em;
    width: 3px;
    vertical-align: middle;
    position: relative;
    top: -0.3em;
}